<!DOCTYPE html>
<html lang='en'>

{% include head.html %}

<body class='{% if page.url == '/' %} is-home {% endif %}'>

  {% include analytics.html %}

  <div class='js-off-canvas-container c-off-canvas-container'>
    {% include header.html %}

    {{ content }}

    {% include footer.html %}
  </div>

  <script src="{{ '/js/jquery.min.js' | prepend: site.baseurl }}">                 </script>
  <script src="{{ '/js/jquery.viewportchecker.min.js' | prepend: site.baseurl }}"> </script>
  <script src="{{ '/js/jquery.ghostHunter.min.js' | prepend: site.baseurl }}">     </script>
  <script src="{{ '/js/evil-icons.min.js' | prepend: site.baseurl }}">             </script>
  <script src="{{ '/js/jquery.fitvids.js' | prepend: site.baseurl }}">             </script>
  <script src="{{ '/js/instafeed.min.js' | prepend: site.baseurl }}">              </script>
  <script src="{{ '/js/transition.js' | prepend: site.baseurl }}">                 </script>
  <script src="{{ '/js/zoom.min.js' | prepend: site.baseurl }}">                   </script>
  <script src="{{ '/js/app.js' | prepend: site.baseurl }}">                        </script>
    <script defer>
    var base_url = {{ site.baseurl | jsonify }},
        pagination_next_url = base_url + '{{ paginator.next_page_path }}',
        pagination_next_page_number = '{{ paginator.next_page }}',
        pagination_available_pages_number = '{{ paginator.total_pages }}';
  </script>
</body>

</html>
